.page-node-265,
.page-node-266 {
  .page-banner {
    background: url('../images/contacts-bg.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 40px;
  }

  iframe {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
  }
}