.f(@weight) {
  font-weight: normal;
  font-style: normal;

  & when (@weight = "r") {
    font-family: 'cormorantregular';
  }

  & when (@weight = "m") {
    font-family: 'cormorantmedium';
  }

  & when (@weight = "sb") {
    font-family: 'cormorantsemibold';
  }

  & when (@weight = "b") {
    font-family: 'cormorantbold';
  }
}

.line(@m: 1) {
    content: '';
    display: block;
    width: 240px;
    height: 10px;
    background: @nazk-yellow;
    margin: 20px * @m 0;
}

.font-size(@mysizeValue) {
  @sizeValue: @mysizeValue / @basefontsize;
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

.line-height(@mysizeValue) {
  @sizeValue: @mysizeValue / @basefontsize;
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  line-height: ~"@{pxValue}px"; 
  line-height: ~"@{remValue}rem";
}

.c() {
  .container();

  @media (min-width: @min-xl) {
    width: @min-xl - 30;
  }
  margin-left: auto;
  margin-right: auto;
}